<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add connectionString="server=CSE1305068;uid=sa;pwd=mdbestc-0346-05;database=ATS Hospitals" name="L_id"/>
  </connectionStrings>
  <system.web>
    <sessionState timeout="5" regenerateExpiredSessionId="true" cookieless="true"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name="frm" defaultUrl="HomePage.aspx" loginUrl="LoginPage.aspx">
        <credentials passwordFormat="Clear">
          <user name="apurva" password="1065"/>
        </credentials>
      </forms>
    </authentication>
  </system.web>
</configuration>